/* To create CSS variables */

:root {
  --primary-font-size: 16px;
  --secondary-font-size: 14px;
  --tertiary-font-size: 18px;
  --primary-color: tomato;

/* dynamic theming */
  --base-size: 1rem;
  --scale: 1.25;

  --font-sm: calc(var(--base-size) / var(--scale));
  --font-md: var(--base-size);
  --font-lg: calc(var(--base-size) * var(--scale));
  --font-xl: calc(var(--base-size) * var(--scale) * 2);

  /* Variables conditioned by media queries */
  --padding: 16px;
  --margin: 16px;
}



body {
  font-size: var(--primary-font-size);
  color: var(--primary-color);
}

h1 {
  font-size: var(--tertiary-font-size);
  color: var(--primary-color);
}

h2 {
  font-size: calc(var(--tertiary-font-size) - 2px);
  color: var(--primary-color);
}

h3 {
  font-size: calc(var(--tertiary-font-size) - 4px);
  color: var(--primary-color);
}

ul {
  font-size: var(--secondary-font-size);
  color: var(--primary-color);
}

ol {
  font-size: var(--tertiary-font-size)  ;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  :root {
    --padding: 32px;
  }
}

.card {
  padding: var(--padding);
}